body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    min-height: 100%;
    background-color: whitesmoke;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: medium;
}
.hide{
    display: none;
}
.banner{
    color: #FFB30F;
    background-color: #042b423d;
    grid-column: 1/4;
}
.header-grid {
    display: grid;
    grid-template-columns: 60% 1fr 1fr;
    grid-template-rows: 1fr fit-content;
    background-color: #141516;
    color: whitesmoke;
    height: min-content;
    font-family: 'Inconsolata', monospace;
    padding: .8rem;
    padding-bottom: 1rem;
}

.logo-img {
    padding: 2rem 10px 2rem 5px;
    height: 40%;
    width: 5rem;
}

.logo-info {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links a img {
    margin: .3rem;
    height: 40px;
}

button {
    background: none;
    border: none;
}

button span {
    color: #0B7AB8;
    font-size: 2rem;
}

nav {
    grid-row: 2/3;
    grid-column: 1/4;
    width: 100%;
}

.active {
    color: #FFB30F;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-top: 2rem;
}

nav ul li {
    display: grid;
}

nav ul li a {
    height: 100%;
    width: 100%;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Abel', sans-serif;
    align-self: center;
    text-align: center;
    padding-top: 1rem;
    font-weight: bold;
}

nav ul {
    display: none;
}
main {
    display: grid;
    justify-items: center;
}

.hero {
    background: url("../images/banner.jpg"), rgba(128, 128, 128, 0.678);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}

.hero h2,
.sub h3 {
    font-size: 2rem;
    color: whitesmoke;
}

.hero h2 span,
.sub h2 {
    color: #FFB30F;
}

.hero button {
    font-family: 'Abel', monospace;
    background-color: #141516;
    padding: 1rem;
    color: orange;
    box-shadow: 0px 0px 5px black;
    position: absolute;
    right: 2rem;
    bottom: auto;
}

.sub {
    background: linear-gradient(#289fe4, #042b42);
    text-align: center;
}

.sub p {
    font-size: larger;
    font-family: "Abel", monospace;
    color: whitesmoke;
}

.weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr, 6rem, 1fr, 2px, 1.2fr;
    max-width: 15rem;
}

.weather h2 {
    grid-column: 1/3;
}

.weather hr {
    grid-column: 1/3;
}

.weather img {
    height: 5rem;
}
.open ul {
    display: block;
}

button.open :nth-child(1) {
    display: none;
}

button.open :nth-child(2) {
    display: block;
}

button :nth-child(2) {
    display: none;
}

#header-date {
    margin-top: 3rem;
    grid-column: 1/4;
    color: #FFB30F;
    text-align: center;
    height: 1rem;
}

.block {
    color: gray;
    height: 15rem;
    width: 85%;
    margin: 10px;
    padding: 1rem;
    font-family: 'Abel', sans-serif;
    box-shadow: 0px 0px 5px gray;
}

.placeholder-spotlights {

    background: linear-gradient(#289fe4, #042b42);
    color: gray;
    height: fit-content;
    margin: 10px;
    padding: 1rem;
    width: 90%;
    font-family: 'Abel', sans-serif;
}
 #spot-3 {
    display: none;
}

.spotlight {
    display: grid;
        justify-items: center;
        background: whitesmoke;
        color: #010d14;
        width: auto;
        height: fit-content;
        box-shadow: 0 0 5px white;
        padding-bottom: 1rem;
}

.join {
    display: none;
}

footer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #141516;
    color: whitesmoke;
    align-items: center;
    text-align: center;
}

.first-half {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Abel', sans-serif;
}

.second-half {
    font-family: 'Inconsolata', monospace;
}

.footer-logo {
    padding: 0px;
}

hr {
    width: 90%;
}

.hero button:hover {
    transition: all 0.2s;
    color: #0B7AB8;
    background-color: black;
    padding: 1.1rem;
}

.event:hover {
    transition: all 0.2s;
    background: linear-gradient(#088dda, #010d14);
}
nav ul li a:hover,
.social-links img:hover {
    color: #FFB30F;
    background-color: #0B7AB8;
}

button span:hover {
    color: #FFB30F;
}