@media only screen and (min-width: 64rem) {
    .header-grid {
        grid-template-columns: max-content 1fr min-content;
        grid-template-rows: 1fr 4rem;
        height: fit-content;
    }
    #header-date{
        padding: 5px;
    }
    main{
        padding:10px;
        grid-gap: 20px;
    }
    .logo-info {
        width: fit-content;
        margin-right: 5rem;
    }

    .social-links {
        margin: 0px;
    }

    nav {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    nav ul#navUl {
        display: flex;
        width: 100%;
        align-items: center;
    }

    nav ul li {
        width: 100%;
    }

    button {
        display: none;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .placeholder-item {
        margin: 2px;
        border-radius: 2px;
    }

    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        /* height: 80%;
        margin-top: 12px; */
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 80%;
    }

    .join {
        grid-column: 1/2;
        grid-row: 3/4;
        width: 85%;
    }
    .join button{
        display: block;
    }

    .hero{
        padding: 0px;
        height: 97%;
        grid-column: 2/4;
        grid-row: 1/3;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 80% 1fr;
        
    }
    .hero #heroPhoto{
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
    .hero h2{
        padding: 1rem;
        font-size: 3rem;
    }
    .hero button{
        display: block;
        margin-left: 0rem;
        font-size: 1.3rem;
        align-self: flex-start;
        justify-self: start;
        width: 100%;
        margin-bottom: 30px;
        transition: all 0.2s;

    }
    .news {
        grid-column: 2/4;
        width: 95%;
        padding: 1.2rem;
        grid-row: 3/4;
    }

    .placeholder-spotlights {
        width: 90%;
        height: 97%;
        grid-column: 4/5;
        grid-row: 1/4;
        padding: 10px;
        margin: 10px;
        height: 96%;
        display: grid;
        row-gap: 5rem;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }

    .spotlight {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
        #spot-3 {
        display: block;
        display: grid;
        justify-items: center;
        background: rgb(196, 196, 196);
        color: #010d14;
        width: auto;
        height: fit-content;
        box-shadow: 0 0 5px white;
        padding-bottom: 1rem;
        }

    /* //////////////////////////////////////////// */
    /* DISCOVER PAGE */
    

    #gallery .photo:hover{
        padding-left: 2rem;
        box-shadow: 0px 0px 10px #010d14;
    }
    #gallery .photo{
        grid-template-columns: 1fr 1fr;
    }
    #gallery .photo .right-img{
        grid-column: 2/3;
        grid-row:1/2;
    }
    main #gallery{
        max-width: 80vw; 
    }

    #gallery .photo .left-text{
        padding: 10px;
        grid-column: 1/2;
        grid-row:1/2;
    }
    #gallery .photo .info{
        padding: 2rem;
    }
    /* ////////////////////////////
     /* Join page */
     form{
         width: 30rem;
     }
     fieldset{
         width: 28rem;
     }
     #description{
         width: 29.8rem;
     }

     
}