body {
    margin: 0px;
    background: rgb(182, 182, 182);
}

#content {
    max-width: 1000px;
    margin: 0 auto;
    background-color: whitesmoke;
}


.header-grid {
    background: url("../images/background.jpg") rgba(13, 12, 27, 0.938);
    background-blend-mode: soft-light;
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    color: #0B7AB8;
    font-family: 'Inconsolata', monospace;
    padding: 10rem 1rem 4rem 1rem;

}

h1 {
    font-size: 40px;
}

#name {
    color: #FFB30F;
}

.grey-text {
    color: #9da7b4;
}

nav ul {
    margin: 0px;
    display: flex;
    list-style-type: none;
    background-color: #45494E;
    height: 3rem;
    padding: 0px;
}

nav li {
    display: grid;
    font-family: 'Abel', sans-serif;
    font-size: larger;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
        width: 100%;
        height: 100%;
        padding-top: 1.4rem;
        align-self: center;
}

main {
    padding: 1rem;
    background-color: whitesmoke;
}

.active {
    color: #FFB30F;
}

nav li:hover {
    color: #FFB30F;
    background-color: #0B7AB8;
}

h2,
h3 {
    font-family: 'Inconsolata', monospace;
}
p,
.footer-grid,
.personas {
    font-family: 'Abel', sans-serif;
}

.persona-main {
    padding: 0.5rem;
}

p {
    font-size: large;
    padding: 1rem;
}

.personas {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.persona,
.color {
    border: 1px solid #45494E;
    border-radius: 3px;

}

.persona-img {
    width: 100%;
    height: 10rem
}

.colors-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.c-head {
    margin: 0px;
    height: 1rem;
    padding: 1rem;
}

.primary-1-color {
    background-color: #0B7AB8;
}

.primary-2-color {
    background-color: #45494E;
    color: whitesmoke;
}

.seconday-color {
    background-color: whitesmoke;
}

.accent-color {
    background-color: #FFB30F;
}
.footer-grid {
    text-align: center;
    color: white;
    background-color: #45494E;
    padding: 0.5rem;
}
